  <div class="main-content bg-gradient-info py-5 pb-lg-8 h-50">
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark pb-1">
      <div class="container px-4">

        <!-- Navbar items -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!userIsAuthenticated">
            <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/signup']">
              <i class="ni ni-circle-08"></i>
              <span class="nav-link-inner--text">Registrarse</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="!userIsAuthenticated">
            <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/login']">
              <i class="ni ni-key-25"></i>
              <span class="nav-link-inner--text">Iniciar sesión</span>
            </a>
          </li>
          <!-- <li class="nav-item" *ngIf="!userIsAuthenticated">
            <a class="nav-link nav-link-icon">
              <i class="ni ni-key-25"></i>
              <span class="nav-link-inner--text" (click)="onLogout()">Cerrar sesión</span>
            </a>
          </li> -->
        </ul>
      </div>
    </nav>
    <div class="container mt-1">
      <div class="header-body  text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <img class="w-100"
              src="https://static1.squarespace.com/static/5979e5a11e5b6c7735c10cb5/t/5a4e92d18165f5a45daae383/1515097898013/?format=1500w">
            <h4 class="text-white">¡Bienvenid@!</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container pt-7 mt--8 pb-4">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="card-profile-image mb-6">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <mat-card>
                <mat-spinner *ngIf="isLoading"></mat-spinner>
                <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
                  <mat-form-field>
                    <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel"
                      required email>
                    <mat-error *ngIf="emailInput.invalid">Ingrese un E-mail válido.</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="password" name="password" ngModel matInput placeholder="Contraseña"
                      #passwordInput="ngModel" required>
                    <mat-error *ngIf="passwordInput.invalid">Ingrese una contraseña valida.</mat-error>
                  </mat-form-field>
                  <div class="row ">
                    <div class="col text-center pt-2">
                      <button class="btn btn-success text-dark" mat-raised-button type="submit"
                        *ngIf="!isLoading">Iniciar sesión</button>
                    </div>
                  </div>
                </form>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
